<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sub to pewdiepie</title>
</head>

<body>
    <center>
        <h1>Scan to sub to pewdiepie</h1>

        <img src="/qr.png" alt="sub to pewdiepie qr code" />

        <br>
        <h3><a href="https://www.youtube.com/user/PewDiePie/sub/now" target="_blank">or click this link</a></h3>
    </center>

    <h5 style="text-decoration: line-through;bottom: 10%;position: fixed;">no im not pewdiepie</h6>
</body>

</html>